$primary-color: #819ca9
$header-color: #29434e
$sidenav-color: #546e7a

.container 
    position: absolute
    top: 92px
    bottom: 0
    left: 0
    right: 0
    background: $primary-color

.container-header
    position: relative
    top: 0
    left: 0
    right: 0
    background: $header-color
    width: 100%
    height:92px

.sidenav    
    background: $sidenav-color

.icon-menu
    position: absolute
    top: 2.3em
    left: 2.3em
    width: 24px
    height: 24px
    cursor: pointer

.logo-coutinho
    position: absolute
    width:64px
    height:92px
    cursor: pointer
    right: 0