<div class="container-header">
  <app-menu [sidenav]="sidenav"></app-menu>
</div>
<div>
  <mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" #sidenav mode="side" [(opened)]="opened" 
      (opened)="events.push('open!')" (closed)="events.push('close!')">
      <ul>
        <li class="item">Typescript 3.7 news</li>
        <li class="item">teste</li>
        <li class="item">teste</li>
        <li class="item">teste</li>
      </ul>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>